@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
  ---nav-height: 100px;
  padding-top: var(---nav-height);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFF5E3;
  font-family: 'Montserrat', sans-serif;
}

.navigation-bar {
    background-color: #7e461e;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transition: transform 0.5s;
}

.nav--hidden {
    transform: translateY(-70px);
}

.navigation-bar img {
    height: 72px;
    width: 72px;
}

#navigation-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.navigation-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation-bar li {
    text-align: center;
    min-width: 130px;
    border-radius: 5%;
    background-color: #895129;
    margin: 0 5px;
}

.navigation-bar li a {
    transition: transform 0.5s;
    color: #F4F4F4;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.6;
}

.navigation-bar li a:hover {
    opacity: 1;
    font-size: 16px;
}

.carousel-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.container {
  max-width: 600px;
  margin: 120px auto 20px;
  padding: 15px;
  background-color: rgba(255, 243, 227, 0.97);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="time"],
.form-group select,
.form-group textarea,
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.form-group input[type="checkbox"] {
  margin-top: 10px;
}

.form-group button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: #7e461e;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

footer {
  background-color: rgb(34, 31, 23);
  color: #f4f4f4;
  text-align: center;
  padding: 2rem 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer_title {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.footer_contact {
  margin: 1rem 0;
}

.footer_contact a {
  color: white;
  text-decoration: none;
}

.footer_copy {
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navigation-bar {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .navigation-bar ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .navigation-bar li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
  }

  .navigation-bar li a {
    line-height: 40px;
    font-size: 14px;
    padding: 10px;
  }

  .navigation-bar img {
    margin-bottom: 10px;
    height: 40px;
  }

  .container {
    max-width: 100%;
    margin: 100px 20px 20px;
    padding: 15px;
  }
}